.navbar{
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  

  }/* .nav-bar{
  font-weight: bold !important;
  color: black !important;
}

.pointing-menu img{
  padding-right: 10px;
}

.nav-container{

  position: absolute;
  margin: 20px;
  width: auto;
} */
